<h2>{{title}}</h2>
<div *ngIf="alert" class="alert alert-danger" role="alert"> 
  {{alert}}
</div>
<!-- od 6 -12 riadka som nemala-->
<ul>
   <li class="list-group-item" *ngFor="let user of users">{{user.name + " " + user.email + " " + user.id}}</li>
</ul>

<ul>
  <li *ngFor="let user of users$ | async" (click)="selectUser(user)"> {{user.name}}, {{user.email + " ajoj"}}
  </li>

</ul>
<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Meno</th>
      <th>E-mail</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users" (click)="selectUser(user)">
      <td>{{user.id}}</td>
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
    </tr>
  </tbody>
</table>
<p *ngIf="selectedUser">Selected user: {{selectedUser.name}}</p>