<h2>Rozsireni pouzivatelia</h2>
<div *ngIf="alert" class="alert alert-danger" role="alert"> 
  {{alert}}
</div>
<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Meno</th>
      <th>E-mail</th>
      <th>Prihlásenie</th>
      <th>Aktivny</th>
      <th>Skupiny</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.id}}</td>
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>{{user.getSkLastLogin()}}</td>
      <td>{{user.active}}</td>
      <td><span *ngFor= "let group of user.groups">
        {{group.name}},
      </span></td>
    </tr>
  </tbody>
</table>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#userEditModal">
 Add user
</button>
<app-user-edit></app-user-edit>
