<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>  
    <!-- button je na to aby ked je mala obrazovka tak sa to zmensi na rozbalovacie okno -->
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" routerLink="users" routerLinkActive="active">Users <span class="sr-only">(current)</span></a>
        </li>  
        <li class="nav-item " *ngIf= "loggedUser;">
            <a class="nav-link" routerLink="/extended-users" routerLinkActive="active">Extended users <span class="sr-only">(current)</span></a>
          </li>  
          <li class="nav-item">
            <a class="nav-link" routerLink="/groups/home" routerLinkActive="active">Groups</a>
          </li>  
      </ul>
      <span *ngIf= "loggedUser; else elseBlock">
        <strong>{{loggedUser}} </strong> (<a  [routerLink]="" (click)="logout()">Logout</a>)
      </span>
      <ng-template #elseBlock>
        <a class="nav-link" routerLink="login" routerLinkActive="active">Login</a>
      </ng-template>
    </div>
  </nav>


  <!-- routerLink - menenie iba komponentov, netaham vsetko zo servera zas -->