<div class="modal-body">
    <p>token: {{token}}</p>
</div> 

<div *ngIf="alert" class="alert alert-danger" role="alert"> 
    {{alert}}
  </div>

<div class="row">
    <!-- Grid column -->
    <div class="col-md-6 mb-4">
        <div class="card near-moon-gradient form-white">
            <div class="card-body">
                <!-- Form subscription -->
                <form (ngSubmit)="onSubmit()">
                    <h3 class="text-center indigo-text font-bold py-4"><strong>Login</strong></h3>
                    <div class="md-form">
                        <i class="fa fa-user prefix white-text"></i>
                        <input type="text" id="form35" class="form-control" value="{{auth.name}}" (keyup)="setAuthName($event)" >
                    </div>
                    <div class="md-form">
                        <i class="fa fa-key prefix white-text"></i>
                        <input type="password" id="form25" class="form-control" [(ngModel)]="auth.password" name="password">
                    </div>
                    <div class="text-center py-4">
                        <button type="submit" class="btn btn-indigo">Send <i class="fa fa-paper-plane-o ml-1"></i></button>
                    </div>
                </form>
                <!-- Form subscription -->
            </div>
        </div>
    </div>
 
    
